:root {
  font-family: Roboto;
  color: white;
  --bg-color: #09122c;
  --main-color: #be3144;
}

body,
html {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  height: 100vh;
}

dialog[open] {
  display: flex;
  position: absolute;
  gap: 1rem;
  top: 25vh;
  flex-direction: column;
  background-color: var(--main-color);
  border: 0.5rem solid var(--bg-color);
  border-radius: 1ch;
}

dialog > button {
  background-color: var(--bg-color);
  border: none;
  border-radius: 5ch;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
}

form > input {
  border: 2px solid var(--bg-color);
  border-radius: 1ch;
}
#submit {
  background-color: var(--bg-color);
  border: none;
  border-radius: 5ch;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topbar {
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
}

.topbar > button {
  background-color: var(--main-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5ch;
}

.entries {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.entries-block {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--main-color);
  border-radius: 1ch;
  width: 300px;
}

.status > button {
  background-color: var(--bg-color);
  border: none;
  border-radius: 5ch;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.status {
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
